{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mx-3 my-3">
        <h1>Toutes les séries : </h1>
        <div>
            <a class="btn btn-primary mx-3" href="{{ path('app_index') }}">Retour à l'accueil</a>
        </div>
    </div>

    {% for program in programs %}

        <div class="card mx-3 my-3 border border-0">
            <div class="card-body">
                <h2 class="card-title"><strong>"{{ program.title }}"</strong></h2>
                <h3 class="card-subtitle text-muted">{{ program.category.name }}</h3>
                <p class="card-text">{{ program.synopsis }}</p>
                <a class="btn btn-primary" href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
            </div>
        </div>

    {% else %}

        Aucune série trouvée.

    {% endfor %}

{% endblock %}
